html {
    font-size: 15px;
}

.leftmenu {
    background-color: whitesmoke;
    width: 20vw;
    height: calc(100% - 5rem);
    margin-top: 4rem;
    position: absolute;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 3rem;
    padding-top: 1rem;
}

.leftmenu_tile {
    display: table;
    border-radius: 1rem;
    width: 100%;
    height: 4rem;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
}

.leftmenu_tile:hover {
    background-color: #dcdcdc;
}

.leftmenu_tile_icon {
    display: table-cell;
    vertical-align: middle;
    width: 4rem;
}

.leftmenu_tile_title{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
    color: black;
}
