html {
    font-size: 15px;
}

.container {
    height: 20rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    text-align: center;
}

.loading_icon {
    margin-top: auto;
}